@model IEnumerable<Ticket>

<a asp-action="Add" asp-controller="Ticket" class="ml-3">Add Ticket</a>
<table class="table table-bordered table-striped mt-2">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Sprint</th>
            <th>Points</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ticket ticket in Model)
        {
            <tr>
                <td>@ticket.Name</td>
                <td>@ticket.Description</td>
                <td>@ticket.Sprint.SprintNumber</td>
                <td>@ticket.Point.Name</td>
                <td>@ticket.Status.Name</td>
                <td>
                    <a asp-action="Edit" asp-controller="Ticket" asp-route-id="@ticket.TicketId"
                       class="btn btn-outline-dark">Edit</a>
                    <a asp-action="Delete" asp-controller="Ticket" asp-route-id="@ticket.TicketId"
                       class="btn btn-outline-dark">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

